<section ng-controller="EventsController" ng-init="getEvent()">
  <div class="alert-box success" ng-show="formProcessing.success">
    Event Added! <a href="#" ui-sref="events.list">Back to List</a>
    <a href="#" class="close"  ng-click="formProcessing.success=false">&times;</a>
  </div>
  <div class="alert-box alert" ng-show="formProcessing.error">
    {{formProcessing.error}}
    <a href="#" class="close" ng-click="formProcessing.error=false">&times;</a>
  </div>
  <br />
  <div class="row">
    <div class="large-12 columns">
      <h1>{{::title}}</h1>
    </div>
  </div>
  <form name="eventForm" class="form-horizontal" ng-submit="postEvent(eventForm.$valid)">
    <div class="row">
      <div class="large-5 columns">
        <label>Title
          <input type="text" ng-model="event.title"  required />
        </label>
        <label>Description
          <textarea placeholder="" ng-model="event.description"></textarea>
        </label>
      </div>
      <div class="large-5 large-offset-1 columns">
        <label>Start Date
          <input type="date" ng-model="event.startDate"  required />
        </label>
        <label>End Date
          <input type="date" name="endDate" ng-model="event.endDate" min="{{event.startDate | date:'yyyy-MM-dd'}}" required />
        </label>
        <small class="error" ng-show="eventForm.endDate.$error.min">Start date must come before end date.</small>
      </div>
    </div>
    <br />
    <div class="row">
      <div class="large-12 columns panel clearfix">
        <input type="submit" class="button right" ng-disabled="submitting"/>
      </div>
    </div>
  
  </form>
</section>
