<section ng-controller="EventsController" ng-init="list()">
  <div class="row">
    <div class="small-12 columns">
      <h1 class="left">Events</h1>
      <a href="#" class="button success right" ui-sref="events.edit({ eventId: 'new' })">Add</a>
    </div>
  </div>
  <div class="row">
    <div class="small-12 columns">
      <table>
        <thead>
          <tr>
            <th width="200">Title</th>
            <th>Description</th>
            <th width="150">Start Date</th>
            <th width="150">End Date</th>
            <th width="150">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="event in events" class="list-item">
            <td>
              <a zf-open="{{::event._id}}">{{::event.title}}</a>
              <div zf-modal="" id="{{::event._id}}">
                <a zf-close="" class="close-button">×</a>
                <event-item ng-event="event"></event-item>
              </div>
            </td>
            <td>{{::event.description}}</td>
            <td>{{::event.startDate | date : 'shortDate'}}</td>
            <td>{{::event.endDate | date : 'shortDate'}}</td>
            <td>
              <ul class="button-group">
                <li><a href="#" class="button secondary tiny" ui-sref="events.edit({ eventId: event._id })">Edit</a></li>
                <li><a href="#" class="button alert tiny" ng-click="delete(event);">Delete</a></li>
              </ul>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>